### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7620

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="NEWIFI-MINI"

### Linux kernel and toolchain
CONFIG_LINUXDIR=linux-3.4.x

############################################################
### Linux kernel configuration
############################################################

### Build ROOTFS_IN_RAM firmware mode (kernel+initramfs).
#CONFIG_FIRMWARE_TYPE_ROOTFS_IN_RAM=y

### Force MT7620 CPU clock to 600MHz (override Uboot settings)
CONFIG_FIRMWARE_CPU_600MHZ=y

### Enable MT7620 CPU sleep mode (downclock to 200MHz on idle)
#CONFIG_FIRMWARE_CPU_SLEEP=y

### Kernel driver select for WiFi AP 2.4GHz
CONFIG_FIRMWARE_WIFI2_DRIVER=3.0

### Kernel driver select for WiFi AP 5GHz
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0

### Enable IPv6 support
CONFIG_FIRMWARE_ENABLE_IPV6=y

### Enable USB support
CONFIG_FIRMWARE_ENABLE_USB=n
CONFIG_FIRMWARE_ENABLE_UFSD=n
CONFIG_FIRMWARE_ENABLE_FAT=n
CONFIG_FIRMWARE_ENABLE_EXFAT=n
CONFIG_FIRMWARE_ENABLE_EXT2=n
CONFIG_FIRMWARE_ENABLE_EXT3=n
CONFIG_FIRMWARE_ENABLE_EXT4=n
CONFIG_FIRMWARE_ENABLE_XFS=n
CONFIG_FIRMWARE_ENABLE_FUSE=n
CONFIG_FIRMWARE_ENABLE_SWAP=n

### Include UVC camera modules.
CONFIG_FIRMWARE_INCLUDE_UVC=n
### Include USB-HID modules.
CONFIG_FIRMWARE_INCLUDE_HID=n
### Include USB-Serial modules.
CONFIG_FIRMWARE_INCLUDE_SERIAL=n
### Include USB-Audio modules
CONFIG_FIRMWARE_INCLUDE_AUDIO=n

### Include XFRM (IPsec) modules & iptables extension
CONFIG_FIRMWARE_INCLUDE_XFRM=n
### Include network QoS scheduling modules.
CONFIG_FIRMWARE_INCLUDE_QOS=n
### Include IMQ module for shapers.
CONFIG_FIRMWARE_INCLUDE_IMQ=n
### Include IFB module for shapers.
CONFIG_FIRMWARE_INCLUDE_IFB=n

### Include IPSet utility and kernel modules.
CONFIG_FIRMWARE_INCLUDE_IPSET=y

### Include NFSv3 server/client
CONFIG_FIRMWARE_INCLUDE_NFSD=n
CONFIG_FIRMWARE_INCLUDE_NFSC=n
### Include CIFS (SMB) client.
CONFIG_FIRMWARE_INCLUDE_CIFS=n

############################################################
### Userspace configuration
############################################################

### Include WebUI international resources.
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y

### Include NTFS-3G FUSE driver.
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n
### Include LPR printer daemon.
CONFIG_FIRMWARE_INCLUDE_LPRD=n
### Include USB-over-Ethernet printer daemon.
CONFIG_FIRMWARE_INCLUDE_U2EC=n
### Include "tcpdump" utility.
CONFIG_FIRMWARE_INCLUDE_TCPDUMP=n
### Include "hdparm" utility.
CONFIG_FIRMWARE_INCLUDE_HDPARM=n
### Include "parted" utility.
CONFIG_FIRMWARE_INCLUDE_PARTED=n

### Include SMB (and WINS) server.
CONFIG_FIRMWARE_INCLUDE_SMBD=n
CONFIG_FIRMWARE_INCLUDE_SMBD36=y
CONFIG_FIRMWARE_INCLUDE_WINS=n
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n
### Include FTP server.
CONFIG_FIRMWARE_INCLUDE_FTPD=n

### Include alternative L2TP control client RP-L2TP.
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n

### Include EAP-TTLS and EAP-PEAP authentication support.
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
### Include HTTPS support.
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
### Include sftp-server.
CONFIG_FIRMWARE_INCLUDE_SFTP=y

### Include dropbear SSH.
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n
### Include OpenSSH instead of dropbear.
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y

### Include OpenVPN.
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
### Include StrongSwan.
CONFIG_FIRMWARE_INCLUDE_SSWAN=n

### Include Elliptic Curves (EC) to openssl library.
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
### Include "openssl" executable for generate certificates.
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=n

### Include xUPNPd IPTV mediaserver.
CONFIG_FIRMWARE_INCLUDE_XUPNPD=n
### Include Minidlna UPnP mediaserver.
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
### Include Firefly iTunes mediaserver.
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n
### Include ffmpeg.
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=n
### Include Transmission torrent.
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n
### Include Aria2 download manager.
CONFIG_FIRMWARE_INCLUDE_ARIA=n
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n

CONFIG_FIRMWARE_INCLUDE_CURL=y

CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n
CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n
CONFIG_FIRMWARE_INCLUDE_DOGCOM=n
CONFIG_FIRMWARE_INCLUDE_MINIEAP=n
CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=n
CONFIG_FIRMWARE_INCLUDE_NAPT66=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n
CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n
CONFIG_FIRMWARE_INCLUDE_VLMCSD=n
CONFIG_FIRMWARE_INCLUDE_TTYD=n
CONFIG_FIRMWARE_INCLUDE_LRZSZ=n
CONFIG_FIRMWARE_INCLUDE_HTOP=y
CONFIG_FIRMWARE_INCLUDE_NANO=y
CONFIG_FIRMWARE_INCLUDE_IPERF3=y
CONFIG_FIRMWARE_INCLUDE_DUMP1090=n
CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n
CONFIG_FIRMWARE_INCLUDE_MTR=y
CONFIG_FIRMWARE_INCLUDE_SOCAT=y
CONFIG_FIRMWARE_INCLUDE_SRELAY=n
CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n
CONFIG_FIRMWARE_INCLUDE_FRPC=n
CONFIG_FIRMWARE_INCLUDE_FRPS=n
CONFIG_FIRMWARE_INCLUDE_TUNSAFE=n
CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n